// ----------------------------------------------
//	font-family
// ----------------------------------------------
$nanum_mj: 'nanummyeongjo'

// -------------
$tablet_min : 481px
$tablet_max : 800px
$mobile_max : 480px




// ----------------------------------------------
//	페이지 크기 / 넓이 / 높이 
// ----------------------------------------------

$wrap_width: 1280px
$header_width: 136px
$container_width: 960px

$container_top_height: 18px

$visual_width: 960px
$visual_height: 540px

// ----------------------------------------------
//	miain 해당 
// ----------------------------------------------
$main_btn_width: 105px
$main_btn_height: 40px

$stie_link_width: 480px
$stie_link_height: 211px
$link_slide_width: 245px
$link_slide_height: 180px

$news_area_width: 452px

// ----------------------------------------------
//	서브페이지 메뉴 디자인
// ----------------------------------------------

$sub_category2_width: 474px
$sub_category3_width: 312px
$sub_category4_width: 231px

// sub 페이지 사이드 메뉴 
//-------------------------------
$sub_side_menu_width: 211px
$sub_side_menu_height: 55px



$ideology_dec_width: 475px






$footer_left_width: 712px
$footer_left_height: 35px
$footer_right_width: 235px


// ----------------------------------------------
//	color 
// ----------------------------------------------
$base_color: #262626
$page_color: #8a8b93
$boder_color: #e8e8e8

$snb_on_color: #d90d1d
$snb_hover_color: #db040d

$main_h4_color: #262626
$main_p_color: #a6a6a6
$main_news_color: #262626

$family_color: #a6a6a6
$language_on_color: #db040d


// 서브 페이지 사이드 메뉴 color
// -----------------------------------
$sub_side_menu_color: #d7182a
$side_menu_on_color: #e1e1e1
$sub_side_menu_font_color: #fff

$footer_font_color : #999


// ----------------------------------------------
//	기업소개 color
// ----------------------------------------------

$ideology_border_color: #e4e4e4
$ideology_border_on_color: #282828
$boder_strong_color: #a6a6a6

$management_color: #141414



// ----------------------------------------------
//	font-size
// ----------------------------------------------
$font_size0: 0px
$page_font_size: 12px
$gnb_font_size: 16px
$snb_font_size: 13px


$language_font_size: 14px

$main_h4_size: 18px
$main_news_size: 14px

// ----------------------------------------------
//	기업소개 font-size
// ----------------------------------------------
$management_strong_size: 36px
$management_p_size: 14px
$dec_h3_size: 18px


// 서브페이지 서브 사이드 메뉴
// -----------------------------
$side_menu_font_size: 16px

$conribute_dec_margin: 10px


