@import ./config/vars




=skip
	@extend %a11y-hidden



// wrap 
=wrap($width: auto)
	width: $width
	@extend %align-center


//
 * --------------------------------
 * 마진
=margin($top: null, $right: null, $bottom: null, $left: null)
	margin-top:    $top
	margin-right:  $right
	margin-bottom: $bottom
	margin-left:   $left

//
 * --------------------------------
 * 패딩
=padding($top: null, $right: null, $bottom: null, $left: null)
	padding-top:    $top
	padding-right:  $right
	padding-bottom: $bottom
	padding-left:   $left

=position($method: absolute, $top: null, $right: null, $bottom: null, $left: null, $z-index: null)
	position: $method
	top:      $top
	right:    $right
	bottom:   $bottom
	left:     $left
	z-index:  $z-index

=border($width: 1px, $style: solid, $color: $ideology_border_color)
	border-width: $width
	border-style: $style
	border-color: $color

=mq_tablet 
	@media screen and (min-width: $tablet_min) and (max-width: $tablet_max)
 		
=mq_mobile
	@media screen and (max-width: $mobile_max)

